<div>
  <h1>Movies App</h1>
</div>

<div class="p-grid menu">
  <div class="p-col-6 principal ">
        <img class="animate__animated animate__zoomIn" [src]="getImg(movie[0].poster_path)">
  </div>
  <div class="p-col-6">
    <div class="p-grid">
      <div class="p-col-6">
          <img class="animate__animated animate__zoomIn" [src]="getImg(movie[1].poster_path)">
      </div>
      <div class="p-col-6">
          <img  class="animate__animated animate__zoomIn" [src]="getImg(movie[2].poster_path)">
      </div>
      <div class="p-col-6">
          <img class="animate__animated animate__zoomIn" [src]="getImg(movie[3].poster_path)">
      </div>
      <div class="p-col-6">
        <img class="animate__animated animate__zoomIn" [src]="getImg(movie[4].poster_path)">
    </div>
  </div>
  </div>
</div>
